* {
  padding:0;
  margin:0;
  font-family: 'IBM Plex Mono', monospace;
  cursor: default;
}
a {
  color:inherit;
  text-decoration: none;
}

#gos_dock {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:20px;
  background: #000;
  z-index:100000;
  background: #191919;
  box-shadow: #000 0px 0 20px;
  border-bottom: #eee 1px solid;
  overflow:hidden;
}
#gos_dock > * {
  display:inline-block;
}
.gos_dock_menuIcon:hover, .gos_dock_menuIconSelected {
  background: white;
  color:black;
}
.gos_dock_menuIcon {
  position: absolute;
  background: transparent;
  height: 16px;
  font-size: 12px;
  padding: 2px;
  color:#fff;
  text-decoration: none;
}
#gos_dock_windows {
  position: absolute;
  left: 95px;
}
.gos_dock_notif {
  position: absolute;
  background: transparent;
  height: 16px;
  font-size: 12px;
  padding: 2px;
  color:#fff;
  right:2px;
}
.gos_dock_notif>* {
  display: inline-block;
}
.gos_dock_notif>div {
  display: grid;
  grid-template-columns: auto 36px;
}

.gos_dock_notif>div>* {
  display: inline-block;
}
.gos_dock_notif>div>button {
  padding: 0 6px;
  margin: 0;
  height: 16px;
  font-size: 12px;
  margin-right: 4px;
  border: none;
}
.gos_dock_notif>div>button>img{
  filter:invert(100%);
  width:10px;
  margin-top: 2px;
}
.gos_dock_notif>div>button:hover>img {
  filter: none;
}
.gos_dock_notif>div>.gos_windows_clock_time {
  height: 100%;
  padding-top: 1px;
}
.gos_dock_icon {
  width: 150px;
  height: 12px;
  padding: 4px;
  font-family: 'IBM Plex Mono', monospace;
  color: #e6e6e6;
  font-size: 10px;
  overflow: hidden;
  background: #121212;
  border: none;
  text-decoration: none;
  margin-left: 1px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.gos_dock_icon:hover {
  background: #fff;
  color: #121212;
}
.gos_dock_icon_selected {
  color: #ddd;
  background: #444;
}
::-webkit-scrollbar {
  display:none;
}
body {
  background:#212121;
  background-size:100% 100%;
}
.gos_win_hidden, .gos_hidden {
  display:none;
}
.gos_win_max {
  margin-top: 21px;
  position: fixed;
}
.gos_menu {
  position:absolute;
  min-width: 100px;
  padding:0;
  margin:0;
  background: #111;
  color: #ddd;
  border-left: 1px #fff solid;
  box-shadow: 0 0 12px #000;
  /*display:none;*/
}

.gos_menu:hover {
  display:block;
}

.gos_menu > div {
  padding: 4 14px;
  font-size: 12px;
}

.gos_menu > div:hover {
  background:#fff;
  color:#111;
}

.gos_dock_menuDiv {
  border-left:1px solid #fff;
  background: #000;
  color:#fff;
  position:absolute;
  box-shadow: 0 0 15px #000;
  width: 200px;
  max-height: 90%;
  top:20px;
  font-size:12px;
}

.gos_dock_menuStartDiv {
  width: 450px;
  height: 400px;
  top:20px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.gos_dock_menuDiv:not(.gos_dock_menuStartDiv) {
  right:0;
}

button:not(.unstyled) {
  background:rgba(20, 20, 20, 0.2);
  border: 1px solid rgba(20, 20, 20, 0.2);
  color: #eee;
  padding: 0 2px;
  outline: none;
}
button:not(.unstyled):hover {
  background:#eee;
  border: 1px solid #ddd;
  color: #0e0e0e;
}
button:not(.unstyled):active {
  background:hsla(0, 0%, 5%, 0.397);
  border: 1px solid #bbb;
  color: #fff;
}
button.gos_white:not(.unstyled) {
  background:rgba(230, 230, 230, 0.2);
  border: 1px solid rgba(230, 230, 230, 0.2);
  color: #111;
  padding: 0 2px;
  outline: none;
}
button.gos_white:not(.unstyled):hover {
  background:#111;
  border: 1px solid #222;
  color: #fff;
}
button.gos_white:not(.unstyled):active {
  background:#fff;
  border: 1px solid #bbb;
  color: #0e0e0e;
}

button:not(.unstyled) {margin: 5px 0;}

.gos_windows_terminal {
  height: 100%;
  width:100%;
  background: black;
  color: #eee;
  font-size: 10px;
  overflow:auto;
}

.gos_windows_terminal > .gos_windows_terminal_blankSpace {
  height: 12px;
}

.gos_desktop_widget1 {
  position: absolute;
  top: 30px;
  right: 10px;
  background: #ffffff2b;
  width:150px;
  box-shadow: inset 0 0 2px #fff, 0 0 2px #fff;
}

.gos_desktop_widget1 > .gos_desktop_widget1_title {
  margin: 8px;
  padding: 2;
  margin-bottom: 2px;
  text-shadow: 0 0 2px #525252;
  color:#000;
}

.gos_desktop_widget1 > .gos_windows_terminal {
  height: 200px;
  background: black;
  color: #eee;
  font-size: 9px;
  padding: 10px;
  overflow:auto;
  width: 200px;
}

.gos_desktop_widget1 > .gos_windows_terminal > .gos_windows_terminal_blankSpace {
  height:11px;
}

.gos_desktop_widget1_clock > .gos_windows_clock_time {
  text-align: center;
  padding: 8px 0 4px 0;
  font-size: 30px;
  text-shadow: 0 0 2px #000;
}

.gos_desktop_widget1_clock > .gos_windows_clock_date {
  padding: 0 10px;
  text-shadow: 0 0 2px #000;
  text-align:center;
  padding-bottom: 5px;
} 

.gos_boot {
  background-color: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image:url(resources/intro.gif);
  background-repeat: no-repeat;
  background-color: #000;
  background-position: center;
  background-attachment: fixed;
}

#gos_desktop_wallpaper {
  position: fixed;
  
}

#gos_login {
  width: 100%;
  height: 100%;
  z-index: 1000000;
  position: absolute;
  background-color:#cacaca;
  background-color:#111;
}

#gos_login > img {
  width:100%;
  height:100%;
  background-color:#111;
  filter: blur(5px);
}

.gos_login_loginFormWrapper {
  background: #fff;
  width: 300px;
  height: 220px;
  box-shadow: 0 0 5px #111;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  padding: 15px;
}

.gos_login_loginFormWrapper > div > img {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
}

.gos_login_loginFormWrapper > div > h2 {
  display: inline-block;
  position: absolute;
  padding-top: 10px;
  padding-left: 10px;
}

.gos_login_loginFormWrapper > button {
  position: absolute;
  right: 20px;
  bottom: 15px;
  font-weight: bold;
  background: none;
  border: none;
  font-size: 16px;
  outline: none;
  border: 1px solid transparent;
  padding: 0 2px;
}

.gos_login_loginFormWrapper > button:hover {
  background: #d8d8d880;
  border-radius: 2px;
  border: 1px solid #9c9c9c80;
}

.gos_login_loginFormWrapper > button:active {
  background: #25252580;
  border-radius: 2px;
  border: 1px solid #66666680;
  color: #111;
}

.gos_login_loginFormWrapper > p {
  font-size: 10px;
  padding-top: 15px;
}

input {
  border: 1px solid transparent;
  border-bottom: 2px solid #111;
  outline: none;
  width: 100%;
  padding: 2px;
}

input:hover {
  border: 1px solid transparent;
  border-bottom: 2px solid rgb(134, 134, 134);
}

input:focus {
  border: 1px solid #0000001c;
  border-bottom: 2px solid rgb(65, 65, 65);
  background:#0000000d
}

input:active {
  border: 1px solid #0000001c;
  border-bottom: 2px solid rgb(65, 65, 65);
  background:#000000a1;
  color:#eee;
}

.gos_list_appList {
  width: 100%;
  height: calc(100% - 40px);
  outline: solid 1px;
  padding: 0;
  overflow: auto;
}

.gos_list_appList > button {
  padding: 2px 5px;
  margin: 0;
  width: 100%;
  text-align: left;
  overflow: hidden;
  transition: height 0.25s;
  height:21px;
}

.gos_list_appList > button > p, .gos_list_appList > button > h2, .gos_list_appList > button > div > p, .gos_list_appList > button > div > h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}

.gos_list_appList > button > div {
  display: grid;
  grid-template-columns: auto 13px;
  grid-template-rows: auto 14px;
}

.gos_list_appList > button > div > button {
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: none;
  background: none;
}

.gos_list_appList > button > div > button > img {
  width:12px;
}

.gos_list_appList>button:hover{
  height:36px;
}

.gos_list_appList>button:hover>p{
  display:block;
}

.gos_list_appList>button>p {
  display:none;
}

.gos_dock_menuStartDiv_page {
  display:none;
  min-height: calc(100% - 40px);
}

.gos_dock_menuStartDiv_pageControls > button {
  margin: 0;
  height: 40px;
  font-size: 15px;
  width: calc(50% - 4px);
}

.gos_dock_menuStartDiv_page0_userInfoWrapper {
  padding: 10px;
}

.gos_dock_menuStartDiv_page0_userInfoWrapper > * {
  display:inline-block;
}

.gos_dock_menuStartDiv_page0_userInfoWrapper > img {
  width:40px;
  height: 40px;
  border-radius: 50%;
}

.gos_dock_menuStartDiv_page0_userInfoWrapper > h2 {
  position: absolute;
  top: 20px;
  padding-left: 10px;
}

/*.gos_dock_menuStartDiv_page0_recentListAppWrapper {
  padding: 5px 15px;
}

.gos_dock_menuStartDiv_page0_recentListAppWrapper > h2 {
  font-size: 15px;
  font-weight: normal;
}

.gos_dock_menuStartDiv_page0_recentListAppWrapper>.gos_list_recentAppList {
  padding-top: 5px;
  height: 68px;
  overflow: hidden;
}

.gos_dock_menuStartDiv_page0_recentListAppWrapper > .gos_list_recentAppList > button {
  width: calc(100% - 10px);
  margin: 0 5px;
}

.gos_dock_menuStartDiv_page0_recentListAppWrapper > .gos_list_recentAppList > button > h2 {
  text-align: left;
  font-size: 13px;
}

.gos_dock_menuStartDiv_page0_favouriteListAppWrapper_gridWrapper {
  display: grid;
  grid-template-columns:40px auto;
  grid-gap: 10px;
  margin: 10px;
  min-height: 135px;
}

.gos_dock_menuStartDiv_page0_favouriteListAppWrapper_gridItem:first-child {
  display:  grid;
  grid-gap: 5px;
  padding:  2px;
  grid-template-rows: auto 36px 36px 36px;
}


.gos_dock_menuStartDiv_page0_favouriteListAppWrapper_gridItem:first-child>div:first-child {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

.gos_dock_menuStartDiv_page0_favouriteListAppWrapper_gridItem > .gos_dock_menuStartDiv_page0_favouriteListAppWrapper_gridItem {
  display: block;
  padding : 0 4px;
  
}

.gos_dock_menuStartDiv_page0_favouriteListAppWrapper_gridItem>.gos_dock_menuStartDiv_page0_favouriteListAppWrapper_gridItem:hover {
  background: white;
  color: black;
}

.gos_dock_menuStartDiv_page0_favouriteListAppWrapper_gridWrapper > .gos_dock_menuStartDiv_page0_favouriteListAppWrapper_gridItem:not(:first-child) {
  overflow: auto;
  max-height: 135px;
}

.gos_dock_menuStartDiv_page0_favouriteListAppWrapper_gridItem>*>img {
  width: 90%;
  height: 90%;
  margin: 5%;
  filter: invert(100%);
}

.gos_dock_menuStartDiv_page0_favouriteListAppWrapper_gridWrapper > .gos_dock_menuStartDiv_page0_favouriteListAppWrapper_gridItem:first-child>div:not(:first-child):hover {
  background: white;
  transform: scale(1.1);
  filter: none;
}

.gos_dock_menuStartDiv_page0_favouriteListAppWrapper_gridWrapper > .gos_dock_menuStartDiv_page0_favouriteListAppWrapper_gridItem:first-child>div:not(:first-child):hover>img {
  filter: none;
}*/

.gos_dock_menuStartDiv_page0_mainList {
  height: calc(100% - 105px);
}

.gos_dock_menuStartDiv_page0_mainList_appList {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: calc(100% - 105px);
}

.gos_dock_menuStartDiv_page0_mainList_appList > button, 
.gos_dock_menuStartDiv_page0_mainList_appList > div:first-child {
  height: 21px;
  overflow: hidden;
  width:100%;
}

.gos_dock_menuStartDiv_page0_mainList_appList > button {
  margin:0;
  margin-top: 2px;
  font-size: 8px;
  text-align: left;
  padding-left: 10px;
  font-weight: normal;
}

.gos_dock_menuStartDiv_page0_mainList_appList > button > h2 {
  font-weight: normal;
}

.gos_dock_menuStartDiv_page0_mainList_appList>div:first-child {
  background: rgba(20, 20, 20, 0.2);
  border: 1px solid rgba(20, 20, 20, 0.2);
  color: #eee;
  padding: 0 2px;
  outline: none;
  transition:height 0.5s, background 0.25s;
}

.gos_dock_menuStartDiv_page0_mainList_appList>div:first-child:hover {
  background: #eee;
  color: #0e0e0e;
  border: 1px solid #ddd;
  height:98px;
}

.gos_dock_menuStartDiv_page0_mainList_appList > div:first-child > div {
  display: grid;
  grid-template-rows: 21px;
  grid-template-columns: 21px auto;
}

.gos_dock_menuStartDiv_page0_mainList_appList>div:first-child:hover>div>img {
  filter: invert(0%);
}

.gos_dock_menuStartDiv_page0_mainList_appList > div:first-child > div > img {
  filter: invert(100%);
  width: 19px;
}

.gos_dock_menuStartDiv_page0_mainList_appList > div:first-child > .gos_list_recentAppList {
  display: none;
}

.gos_dock_menuStartDiv_page0_mainList_appList > div:first-child:hover > .gos_list_recentAppList {
  display: block;
  width:unset;
}

.gos_dock_menuStartDiv_page0_mainList_appList > div:first-child > div > h2 {
  text-align: left;
  font-size: 15px;
  font-weight: normal;
  margin-left: 5px;
}

.gos_dock_menuStartDiv_page0_mainList_appList > div:first-child > .gos_list_recentAppList > button {
    background:none;
    border:1px solid transparent;
    color:#0c0c0c;
    margin:0;
    height:18px;
    overflow:hidden;
    width:calc(100% - 20px);
    margin-left:10px;
}

.gos_dock_menuStartDiv_page0_mainList_appList > div:first-child > .gos_list_recentAppList > button:hover {
  background:hsla(0, 0%, 12%, 0.65);
  border: 1px solid #191919;
  color: #fff;
}


.gos_dock_menuStartDiv_page0_mainList_appList > div:first-child > .gos_list_recentAppList > button:active {
  background:hsla(0, 0%, 77%, 0.65);
  border: 1px solid #9a9595;
  color: #000;
}

.gos_dock_menuStartDiv_page0_mainList_appList > div:first-child > .gos_list_recentAppList > button > h2 {
    font-size:12px;
    font-weight:normal;
    text-align:left;
}

.gos_dock_menuStartDiv_page0_mainList_recentList {
  background: #0c0c0c;
  height: calc(100% - 130px);
  padding: 10px 2px;
  width: 200px;
  margin-left: calc(100% - 212px);
  box-shadow: 0px 1px 2px #0c0c0c;
  position: absolute;
}

.gos_dock_menuStartDiv_page0_mainList_recentList > .gos_list_recentAppList {
  height: calc(100% - 20px);
}

.gos_dock_menuStartDiv_page0_mainList_recentList > .gos_list_recentAppList > button {
  width:100%;
}

.gos_dock_menuStartDiv_page0_mainList_recentList > .gos_list_recentAppList > button > h2 {
  font-size: 12px;
  text-align: left;
  font-weight: normal;
}

#gos_dock_menu_1 {
  width: 410px;
  height: 320px;
}

#gos_dock_menu_1>.gos_dock_menu_1_TimeWrapper>.gos_windows_clock_time {
  padding: 10px 20px;
  font-size: 25px;
  padding-bottom: 5px;
}

#gos_dock_menu_1>.gos_dock_menu_1_TimeWrapper>.gos_windows_clock_date {
  padding: 0px 20px;
  padding-bottom: 5px;
  font-size: 13px;
}

#gos_dock_menu_1>.gos_dock_menu_1_NotificationsWrapper {
  padding: 0 25px;
}

#gos_dock_menu_1>.gos_dock_menu_1_NotificationsWrapper>*:not(.gos_list_notifList) {
  display:inline-block;
}

#gos_dock_menu_1>.gos_dock_menu_1_NotificationsWrapper>button{
  margin: 0 10px;
  border-left: 1px solid white;
  padding: 0 7px;
}

#gos_dock_menu_1>.gos_dock_menu_1_NotificationsWrapper>.gos_list_notifList {
  width: 100%;
  height: calc(100% - 120px - 10px);
  padding: 5px 0;
}

#gos_dock_menu_1>.gos_dock_menu_1_NotificationsWrapper>.gos_list_notifList>button {
  width: 100%;
  text-align: left;
} 

#gos_dock_menu_1>.gos_dock_menu_1_NotificationsWrapper>.gos_list_notifList>button>h2 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#gos_dock_menu_1>.gos_dock_menu_1_NotificationsWrapper>.gos_list_notifList>button>p {
  max-height: 57px;
  overflow: hidden;
}